html{
    font-family: "SFpro";
    background-color: #eff2f5;

}
p{
    margin: 0%;
}

body{
    padding: 0;
    margin: 0;
}

.div1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    height: 100vh;
}


.div2 img{
    width: 450px;
    margin-bottom: -20px;
    margin-left: -42px;
}

.div2 p {
    font-size: 23px;
}

.form-div1 form {
    display: flex;
    flex-direction: column;
    gap: 14px;
    background-color: #fff;
    padding: 13px;
    width: 270px;
    border-radius: 9px;
    box-shadow: black;
    box-shadow: 0px 0px 4px #a4a2a2;
}

form input {
    padding: 13px;
    border-radius: 6px;
    border: 1px solid #cccbcb;
}

.hide{
    display: none;
}

.error{
    color: red;
    font-size: 10px;
}

.primary {
    background-color: #1877f2;
    border-radius: 4px;
    height: 35px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    border: none;
}


form a {
    margin-left: 53px;
    color: #0866ff;
    font-size: 12px;
    text-decoration: none;
    font-weight: 600;
}

#sign-in{
    border: none;
    background: #fff;
    font-weight: 600;
    color: #1877f2;
    font-size: 12px;
    margin-left: 92px;
    margin-top: -28px;
    background: none;
}


.submit {
    display: flex;
    justify-content: center;
}

.submit button {
    background-color: #45b629;
    color: #fff;
    border-radius: 6px;
    border: 1px solid #fff;
    padding: 13px;
    font-weight: 600;
}

hr {
    height: 1px;
    background-color:  #cccbcb;
    width: 100%;
    border: none;
    
}

.create-page{
    display: inline-block;
    margin-top: 13px;
    font-size: 12px;
    width: 100%;
    text-align: center;
}

footer{
    display: flex;
    align-items: center;
    background: #fff;
    height: 150px;

}

.footer-items {
    width: 75%;
    margin: 0 auto;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    line-height: 3px;
}

.footer-items a {
    text-decoration: none;
    color: #a2a2a4;
    font-size: 8px;
}